*{
    margin: 0;
    padding: 0;
}
body{
    overflow:hidden;
}

.logout{
    color: pink;
    float: left;
}



.container{
    background-image: url(https://storage.needpix.com/rsynced_images/video-game-background-1405076_1280.png);
   /* background-repeat: no-repeat;*/
    background-size:100vw 100vh;
    width:100%;
    height:100vh;
 }
.dino{
    background-image: url(image/drago.png);
    background-size: cover;
    width:88px;
    height:119px;
    position: absolute;
    bottom:50px;
    left: 10vw;
}
.zom{
    width: 166px;
    height: 113px;
    background-image: url(image/zom.png);
    background-size: cover;
    position: absolute;
    bottom: 48px;
    left: 70vw;

}
.animatedino{
    animation: dino 0.5s ease;
}

.obstacleanim{
    animation: obstacleanim 1.5s ease-in infinite;
}
.rain{
    height:100vh;
     background:url(image/rain.png);
     background:cover;
     animation: rain .3s linear infinite;
     font-weight: 800;
     

    
 }
 
 @keyframes rain
{
    0%{
        background-position:10% 10%;
    }
    100%{
        background-position:20% 70%;
    }
}

.welcome{
    color:white;
    font-size: 40px;
    padding: 25px;
    text-align:center;
    margin-left:-80px;
    
}
.gameOver{
    visibility: hidden;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: cursive;
    margin-top: 20px;
}

#scoreid{
    color:white;
    float: right;
    font-style: bold;
    font-size: 25px;
    padding: 25px;
    margin-top: -200px;
    margin-right:20px;
    border: 4px solid white;
    width:160px;
    padding:15px;
    
}
 .container button{
    font-size:20px;
    padding:3px;
    background:black;
    
    
}
 .container  button a{
 color:white;

} 

@keyframes dino {
    0%{
          bottom: 50px;
      }
    30%{
        bottom: 200px;
    }
    70%{
        bottom: 200px;
    }
    100%{
        bottom: 50px;
    }
}
@keyframes obstacleanim{
    0%{
         left:95vw;
    }
    100%{
         left:-10vw;
    }
}

