*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande";
}

header{
	height: 403px;
	color: white;
	background-color: black;
}
.hi{
	 width: 50%;
	 display: inline-block;
}

.hi h2{
	padding: 80px 0px 30px 50px;
	font-size: 60px;
	font-family: cursive;
}

.hi h4{
	padding: 50px 0px 30px 50px;
	font-family: monospace;
	font-size: 26px;
	font-style: italic;
}
	
.top div{
	width: 50%; 
}	

.mid{
	background-color: #efefef;
	height:280px;
}

.about{
	padding: 25px 0px 25px 0px;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	
}
.about:hover{
	text-shadow: 2px 2px #8e8e8e;
}

.style{
	padding: 10px 30px 0px 30px;
	text-align: center;
	font-size: 28px;
	color: #7e7e7e;
}

.skill{
	text-align: center;
	padding: 25px 0px 25px 0px;
	font-size: 40px;
}
.skill:hover{
	text-shadow: 2px 2px #8e8e8e;
}

footer{
	background-color:black;
	height: 450px;
	padding-top:25px;
	color: white;
}

footer h3{
	font-family: monospace;
	font-size: 40px;
	text-align: center;
	padding-bottom: 10px;
}

.getintouch{
	font-size: 25px;
	letter-spacing:3px;
	word-spacing:5px;
	padding-bottom: 10px;
	margin-left: 30px;
}

.input{
	display: block;
	margin-bottom: 20px;
	padding: 10px 20px 10px 20px;
	color: #8e8e8e;
	width: 250px;
	outline: none;
}

.input:hover{
	background-color: #e3e3e3;
}
.input:active{

}

.send{
	display: block;
	margin-bottom: 20px;
	padding: 10px 20px 10px 20px;
	background-color: #868686;
	width: 250px;
	outline: none;
	text-align: center;
}
.send:hover{
	cursor: pointer;
	background-color: rgba(134,134,134,0.8);
}